html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}


.hero {
  background: #ede7b1;
  min-height: 100vh;
  width: 100%;
  color: #8d98a7;
  position: relative;
}


body {
  font-family: "Tahoma", Trebuchet MS, Sans-Serif;

  margin: 0;
  display: grid;
  place-items:center;
  background:
  linear-gradient(-50deg, #823329, #ede7b1);
  font-family:"Euclid Circular A";
  text-align:center;

}

.card {
  width: 360px;
  border-radius: 10px;
  background: #27263c;

}

.swiper-slide {
  display:
    flex;
  flex-direction:
    column;
  justify-content:
    center;
  align-items:
    center;
  padding: 80px 0 150px;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
  background:
    #864dfb;
}

.swiper-horizontal .swiper-pagination-bullets .swiper-pagination-horizontal {
  bottom: 56  px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tahoma";
  letter-spacing: 1px;
}

.nav {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  justify-content: center;

}

nav .menu-img {
  width: 40px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}

nav .logo {
  margin-top: 22px;
  width: 160px;

}

nav ul {
  flex: 1;
  text-align: left;


}

nav ul li {
  display: inline-block;
  list-style: none;
  justify-content: center;
  margin: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ede7b1;
  margin: 10px;

}


.button {
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background:
    linear-gradient(-45deg, #823329, #8d98a7);
  background-size: 400%;
  background-position: 90% 0;
  color: #ffffff;
  transition: background 0.8s;
}

.button:hover {
  background-position: 185% 500%;
}



button span {
  color: #ede7b1;
}

a .navbar-brand {
  margin-left: 20px;

}

ul navbar-nav {
  text-align: left;
}

button navbar-toggler {
  padding: 20px;
}

img{
  width: 200px;
  height: 300px;
  object-fit:scale-down;
}
footer{
  background:
  linear-gradient(50deg, #ede7f1, #ede7b1,#ede7f1);
}