 .u-section-1 {
   background-image: linear-gradient(to right, #f1c50e, #ff000b);
 }

 .u-section-1 .u-sheet-1 {
   min-height: 2556px;
 }

 .u-section-1 .u-text-1 {
   font-family: Montserrat, sans-serif;
   margin: 60px auto 0;
 }

 .u-section-1 .u-group-1 {
   margin-top: 20px;
   margin-bottom: 0;
   height: auto;
 }

 .u-section-1 .u-text-2 {
   width: 689px;
   margin: 7px 226px 0;
 }

 .u-section-1 .u-list-1 {
   width: 1127px;
   grid-template-rows: auto auto auto;
   margin: 20px auto 0 7px;
 }

 .u-section-1 .u-repeater-1 {
   grid-template-columns: repeat(2, calc(50% - 6px));
   min-height: 780px;
   grid-gap: 12px;
 }

 .u-section-1 .u-image-1 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/3.jpg");
   background-size: cover, cover;
   background-position: 50% 50%;
 }

 .u-section-1 .u-container-layout-2 {
   padding: 0;
 }

 .u-section-1 .u-group-2 {
   width: 279px;
   background-size: auto;
   height: auto;
   margin: 0 auto 0 0;
 }

 .u-section-1 .u-container-layout-3 {
   padding: 30px;
 }

 .u-section-1 .u-text-3 {
   font-weight: 700;
   margin: 11px auto 0;
 }

 .u-section-1 .u-text-4 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 118px;
   margin: 20px auto 0;
 }

 .u-section-1 .u-text-5 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 163px;
   margin: 16px auto 0;
 }

 .u-section-1 .u-btn-1 {
   border-style: none;
   text-transform: uppercase;
   background-image: none;
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 1px;
   margin: 24px auto 0;
 }

 .u-section-1 .u-image-2 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/52204426-04d6-14b0-d5fb-3abb6796bce3.jpg");
   background-position: 50% 50%;
 }

 .u-section-1 .u-container-layout-4 {
   padding: 0;
 }

 .u-section-1 .u-group-3 {
   width: 279px;
   background-size: auto;
   height: auto;
   margin: 0 auto 0 0;
 }

 .u-section-1 .u-container-layout-5 {
   padding: 30px;
 }

 .u-section-1 .u-text-6 {
   font-weight: 700;
   margin: 11px auto 0;
 }

 .u-section-1 .u-text-7 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 118px;
   margin: 20px auto 0;
 }

 .u-section-1 .u-text-8 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 163px;
   margin: 16px auto 0;
 }

 .u-section-1 .u-btn-2 {
   border-style: none;
   text-transform: uppercase;
   background-image: none;
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 1px;
   margin: 24px auto 0;
 }

 .u-section-1 .u-image-3 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/5352.jpg");
   background-position: 85% 50%;
 }

 .u-section-1 .u-container-layout-6 {
   padding: 0;
 }

 .u-section-1 .u-group-4 {
   width: 279px;
   background-size: auto;
   background-image: none;
   height: auto;
   margin: 0 auto 0 0;
 }

 .u-section-1 .u-container-layout-7 {
   padding: 30px;
 }

 .u-section-1 .u-text-9 {
   font-weight: 700;
   margin: 11px auto 0;
 }

 .u-section-1 .u-text-10 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 118px;
   margin: 20px auto 0;
 }

 .u-section-1 .u-text-11 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 163px;
   margin: 16px auto 0;
 }

 .u-section-1 .u-btn-3 {
   border-style: none;
   text-transform: uppercase;
   background-image: none;
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 1px;
   margin: 24px auto 0;
 }

 .u-section-1 .u-image-4 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/dfffwe.jpg");
   background-position: 50% 50%;
 }

 .u-section-1 .u-container-layout-8 {
   padding: 0;
 }

 .u-section-1 .u-group-5 {
   width: 279px;
   background-size: auto;
   background-image: none;
   height: auto;
   margin: 0 auto 0 0;
 }

 .u-section-1 .u-container-layout-9 {
   padding: 30px;
 }

 .u-section-1 .u-text-12 {
   font-weight: 700;
   margin: 11px auto 0;
 }

 .u-section-1 .u-text-13 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 118px;
   margin: 20px auto 0;
 }

 .u-section-1 .u-text-14 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 163px;
   margin: 16px auto 0;
 }

 .u-section-1 .u-btn-4 {
   border-style: none;
   text-transform: uppercase;
   background-image: none;
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 1px;
   margin: 24px auto 0;
 }

 .u-section-1 .u-image-5 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/dff7.jpg");
   background-position: 50% 50%;
 }

 .u-section-1 .u-container-layout-10 {
   padding: 0;
 }

 .u-section-1 .u-group-6 {
   width: 279px;
   background-size: auto;
   background-image: none;
   height: auto;
   margin: 0 auto 0 0;
 }

 .u-section-1 .u-container-layout-11 {
   padding: 30px;
 }

 .u-section-1 .u-text-15 {
   font-weight: 700;
   margin: 11px auto 0;
 }

 .u-section-1 .u-text-16 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 118px;
   margin: 20px auto 0;
 }

 .u-section-1 .u-text-17 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 163px;
   margin: 16px auto 0;
 }

 .u-section-1 .u-btn-5 {
   border-style: none;
   text-transform: uppercase;
   background-image: none;
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 1px;
   margin: 24px auto 0;
 }

 .u-section-1 .u-image-6 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/rtrtrt.jpg");
   background-position: 50% 50%;
 }

 .u-section-1 .u-container-layout-12 {
   padding: 0;
 }

 .u-section-1 .u-group-7 {
   width: 279px;
   background-size: auto;
   background-image: none;
   height: auto;
   margin: 0 auto 0 0;
 }

 .u-section-1 .u-container-layout-13 {
   padding: 30px;
 }

 .u-section-1 .u-text-18 {
   font-weight: 700;
   margin: 11px auto 0;
 }

 .u-section-1 .u-text-19 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 118px;
   margin: 20px auto 0;
 }

 .u-section-1 .u-text-20 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 163px;
   margin: 16px auto 0;
 }

 .u-section-1 .u-btn-6 {
   border-style: none;
   text-transform: uppercase;
   background-image: none;
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 1px;
   margin: 24px auto 0;
 }

 .u-section-1 .u-text-21 {
   font-family: Montserrat, sans-serif;
   margin: 60px auto 0;
 }

 .u-section-1 .u-group-8 {
   margin-top: 20px;
   margin-bottom: 0;
   height: auto;
 }

 .u-section-1 .u-container-layout-14 {
   padding-bottom: 0;
 }

 .u-section-1 .u-text-22 {
   width: 689px;
   margin: 7px 226px 0;
 }

 .u-section-1 .u-list-2 {
   width: 1127px;
   grid-template-rows: auto auto auto;
   margin: 20px auto 0 7px;
 }

 .u-section-1 .u-repeater-2 {
   grid-template-columns: calc(50% - 6px) calc(50% - 6px);
   min-height: 508px;
   grid-gap: 12px 12px;
 }

 .u-section-1 .u-image-7 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/3.jpg");
   background-size: cover, cover;
   background-position: 50% 50%;
 }

 .u-section-1 .u-container-layout-15 {
   padding: 0;
 }

 .u-section-1 .u-group-9 {
   width: 279px;
   background-size: auto;
   height: auto;
   margin: 0 auto 0 0;
 }

 .u-section-1 .u-container-layout-16 {
   padding: 30px;
 }

 .u-section-1 .u-text-23 {
   font-weight: 700;
   margin: 20px auto 0;
 }

 .u-section-1 .u-text-24 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 169px;
   margin: 19px auto 0;
 }

 .u-section-1 .u-btn-7 {
   border-style: none;
   text-transform: uppercase;
   background-image: none;
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 1px;
   margin: 28px auto 0;
 }

 .u-section-1 .u-image-8 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/52204426-04d6-14b0-d5fb-3abb6796bce3.jpg");
   background-position: 50% 50%;
 }

 .u-section-1 .u-container-layout-17 {
   padding: 0;
 }

 .u-section-1 .u-group-10 {
   width: 279px;
   background-size: auto;
   height: auto;
   margin: 0 auto 0 0;
 }

 .u-section-1 .u-container-layout-18 {
   padding: 30px;
 }

 .u-section-1 .u-text-25 {
   font-weight: 700;
   margin: 20px auto 0;
 }

 .u-section-1 .u-text-26 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 169px;
   margin: 19px auto 0;
 }

 .u-section-1 .u-btn-8 {
   border-style: none;
   text-transform: uppercase;
   background-image: none;
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 1px;
   margin: 28px auto 0;
 }

 .u-section-1 .u-image-9 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/5352.jpg");
   background-position: 85% 50%;
 }

 .u-section-1 .u-container-layout-19 {
   padding: 0;
 }

 .u-section-1 .u-group-11 {
   width: 279px;
   background-size: auto;
   background-image: none;
   height: auto;
   margin: 0 auto 0 0;
 }

 .u-section-1 .u-container-layout-20 {
   padding: 30px;
 }

 .u-section-1 .u-text-27 {
   font-weight: 700;
   margin: 20px auto 0;
 }

 .u-section-1 .u-text-28 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 169px;
   margin: 19px auto 0;
 }

 .u-section-1 .u-btn-9 {
   border-style: none;
   text-transform: uppercase;
   background-image: none;
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 1px;
   margin: 28px auto 0;
 }

 .u-section-1 .u-image-10 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/dfffwe.jpg");
   background-position: 50% 50%;
 }

 .u-section-1 .u-container-layout-21 {
   padding: 0;
 }

 .u-section-1 .u-group-12 {
   width: 279px;
   background-size: auto;
   background-image: none;
   height: auto;
   margin: 0 auto 0 0;
 }

 .u-section-1 .u-container-layout-22 {
   padding: 30px;
 }

 .u-section-1 .u-text-29 {
   font-weight: 700;
   margin: 20px auto 0;
 }

 .u-section-1 .u-text-30 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 169px;
   margin: 19px auto 0;
 }

 .u-section-1 .u-btn-10 {
   border-style: none;
   text-transform: uppercase;
   background-image: none;
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 1px;
   margin: 28px auto 0;
 }

 .u-section-1 .u-text-31 {
   font-family: Montserrat, sans-serif;
   margin: 60px auto 0;
 }

 .u-section-1 .u-group-13 {
   height: auto;
   margin-top: 20px;
   margin-bottom: 19px;
 }

 .u-section-1 .u-container-layout-23 {
   padding-bottom: 0;
   padding-top: 0;
 }

 .u-section-1 .u-list-3 {
   width: 1127px;
   grid-template-rows: auto auto auto;
   margin: 8px auto 0;
 }

 .u-section-1 .u-repeater-3 {
   grid-template-columns: calc(50% - 6px) calc(50% - 6px);
   min-height: 508px;
   grid-gap: 12px 12px;
 }

 .u-section-1 .u-image-11 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/3.jpg");
   background-size: cover, cover;
   background-position: 50% 50%;
 }

 .u-section-1 .u-container-layout-24 {
   padding: 0;
 }

 .u-section-1 .u-group-14 {
   width: 279px;
   background-size: auto;
   height: auto;
   margin: 0 auto 0 0;
 }

 .u-section-1 .u-container-layout-25 {
   padding: 30px;
 }

 .u-section-1 .u-text-32 {
   font-weight: 700;
   margin: 11px 7px 0;
 }

 .u-section-1 .u-text-33 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 118px;
   margin: 20px auto 0;
 }

 .u-section-1 .u-btn-11 {
   border-style: none;
   text-transform: uppercase;
   background-image: none;
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 1px;
   margin: 28px auto 0;
 }

 .u-section-1 .u-image-12 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/52204426-04d6-14b0-d5fb-3abb6796bce3.jpg");
   background-position: 50% 50%;
 }

 .u-section-1 .u-container-layout-26 {
   padding: 0;
 }

 .u-section-1 .u-group-15 {
   width: 279px;
   background-size: auto;
   height: auto;
   margin: 0 auto 0 0;
 }

 .u-section-1 .u-container-layout-27 {
   padding: 30px;
 }

 .u-section-1 .u-text-34 {
   font-weight: 700;
   margin: 11px 7px 0;
 }

 .u-section-1 .u-text-35 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 118px;
   margin: 20px auto 0;
 }

 .u-section-1 .u-btn-12 {
   border-style: none;
   text-transform: uppercase;
   background-image: none;
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 1px;
   margin: 28px auto 0;
 }

 .u-section-1 .u-image-13 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/5352.jpg");
   background-position: 85% 50%;
 }

 .u-section-1 .u-container-layout-28 {
   padding: 0;
 }

 .u-section-1 .u-group-16 {
   width: 279px;
   background-size: auto;
   background-image: none;
   height: auto;
   margin: 0 auto 0 0;
 }

 .u-section-1 .u-container-layout-29 {
   padding: 30px;
 }

 .u-section-1 .u-text-36 {
   font-weight: 700;
   margin: 11px 7px 0;
 }

 .u-section-1 .u-text-37 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 118px;
   margin: 20px auto 0;
 }

 .u-section-1 .u-btn-13 {
   border-style: none;
   text-transform: uppercase;
   background-image: none;
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 1px;
   margin: 28px auto 0;
 }

 .u-section-1 .u-image-14 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/dfffwe.jpg");
   background-position: 50% 50%;
 }

 .u-section-1 .u-container-layout-30 {
   padding: 0;
 }

 .u-section-1 .u-group-17 {
   width: 279px;
   background-size: auto;
   background-image: none;
   height: auto;
   margin: 0 auto 0 0;
 }

 .u-section-1 .u-container-layout-31 {
   padding: 30px;
 }

 .u-section-1 .u-text-38 {
   font-weight: 700;
   margin: 11px 7px 0;
 }

 .u-section-1 .u-text-39 {
   font-weight: 700;
   font-size: 1.25rem;
   width: 118px;
   margin: 20px auto 0;
 }

 .u-section-1 .u-btn-14 {
   border-style: none;
   text-transform: uppercase;
   background-image: none;
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 1px;
   margin: 28px auto 0;
 }

 @media (max-width: 1199px) {
   .u-section-1 .u-group-1 {
     min-height: 895px;
     height: auto;
   }

   .u-section-1 .u-text-2 {
     margin-left: 126px;
     margin-right: 126px;
   }

   .u-section-1 .u-list-1 {
     width: 940px;
     margin-left: 0;
   }

   .u-section-1 .u-repeater-1 {
     min-height: 653px;
   }

   .u-section-1 .u-group-2 {
     min-height: 260px;
     height: auto;
   }

   .u-section-1 .u-group-3 {
     min-height: 260px;
     height: auto;
   }

   .u-section-1 .u-group-4 {
     min-height: 260px;
     height: auto;
   }

   .u-section-1 .u-group-5 {
     min-height: 260px;
     height: auto;
   }

   .u-section-1 .u-group-6 {
     min-height: 260px;
     height: auto;
   }

   .u-section-1 .u-group-7 {
     min-height: 260px;
     height: auto;
   }

   .u-section-1 .u-text-21 {
     margin-top: 66px;
   }

   .u-section-1 .u-group-8 {
     min-height: 628px;
     height: auto;
   }

   .u-section-1 .u-text-22 {
     margin-left: 126px;
     margin-right: 126px;
   }

   .u-section-1 .u-list-2 {
     width: 940px;
     margin-left: 0;
   }

   .u-section-1 .u-repeater-2 {
     grid-template-columns: repeat(2, calc(50% - 6px));
     min-height: 425px;
   }

   .u-section-1 .u-group-9 {
     min-height: 260px;
     height: auto;
   }

   .u-section-1 .u-group-10 {
     min-height: 260px;
     height: auto;
   }

   .u-section-1 .u-group-11 {
     min-height: 260px;
     height: auto;
   }

   .u-section-1 .u-group-12 {
     min-height: 260px;
     height: auto;
   }

   .u-section-1 .u-text-31 {
     width: auto;
   }

   .u-section-1 .u-group-13 {
     min-height: 553px;
     margin-bottom: 60px;
     height: auto;
   }

   .u-section-1 .u-list-3 {
     width: 940px;
   }

   .u-section-1 .u-repeater-3 {
     grid-template-columns: repeat(2, calc(50% - 6px));
     min-height: 425px;
   }

   .u-section-1 .u-group-14 {
     min-height: 260px;
     height: auto;
   }

   .u-section-1 .u-group-15 {
     min-height: 260px;
     height: auto;
   }

   .u-section-1 .u-group-16 {
     min-height: 264px;
     height: auto;
   }

   .u-section-1 .u-group-17 {
     min-height: 260px;
     height: auto;
   }
 }

 @media (max-width: 991px) {
   .u-section-1 .u-text-1 {
     margin-left: 250px;
   }

   .u-section-1 .u-text-2 {
     margin-left: 16px;
     margin-right: 16px;
   }

   .u-section-1 .u-list-1 {
     width: 720px;
   }

   .u-section-1 .u-repeater-1 {
     grid-template-columns: 100%;
   }

   .u-section-1 .u-text-21 {
     margin-left: 236px;
   }

   .u-section-1 .u-text-22 {
     margin-left: 16px;
     margin-right: 16px;
   }

   .u-section-1 .u-list-2 {
     width: 720px;
   }

   .u-section-1 .u-repeater-2 {
     grid-template-columns: 100%;
   }

   .u-section-1 .u-text-31 {
     margin-left: 205px;
   }

   .u-section-1 .u-list-3 {
     width: 720px;
   }

   .u-section-1 .u-repeater-3 {
     grid-template-columns: 100%;
   }
 }

 @media (max-width: 767px) {
   .u-section-1 .u-text-1 {
     margin-left: 200px;
   }

   .u-section-1 .u-text-2 {
     width: 540px;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-1 .u-list-1 {
     width: 540px;
   }

   .u-section-1 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-1 .u-container-layout-5 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-1 .u-container-layout-7 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-1 .u-container-layout-9 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-1 .u-container-layout-11 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-1 .u-container-layout-13 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-1 .u-text-21 {
     margin-left: 189px;
   }

   .u-section-1 .u-text-22 {
     width: 540px;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-1 .u-list-2 {
     width: 540px;
   }

   .u-section-1 .u-container-layout-16 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-1 .u-container-layout-18 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-1 .u-container-layout-20 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-1 .u-container-layout-22 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-1 .u-text-31 {
     margin-left: 167px;
   }

   .u-section-1 .u-list-3 {
     width: 540px;
   }

   .u-section-1 .u-container-layout-25 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-1 .u-container-layout-27 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-1 .u-container-layout-29 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-1 .u-container-layout-31 {
     padding-left: 10px;
     padding-right: 10px;
   }
 }

 @media (max-width: 575px) {
   .u-section-1 .u-text-1 {
     margin-left: 120px;
   }

   .u-section-1 .u-text-2 {
     width: 340px;
   }

   .u-section-1 .u-list-1 {
     width: 340px;
   }

   .u-section-1 .u-text-21 {
     margin-left: 111px;
   }

   .u-section-1 .u-text-22 {
     width: 340px;
   }

   .u-section-1 .u-list-2 {
     width: 340px;
   }

   .u-section-1 .u-text-31 {
     margin-left: 92px;
   }

   .u-section-1 .u-list-3 {
     width: 340px;
   }
 }